<section data-ng-controller="HomeController">




    <!--<leaflet-->
            <!--class="leaflet"-->
            <!--defaults="defaults"-->
            <!--center="center">-->
    <!--</leaflet>-->


    <!--to call MapBox map-->
    <div id='map' class=map></div>


    <div class="well">
        <h2>MEAN.JS Documentation</h2>
        <p>
            Check out the MEAN.JS Documentation:
        <ul>
            <li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
            </li>
            <li><a target="_blank" href="http://meanjs.org/generator.html">Yoeman Generator</a>
            </li>
            <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
            </li>
            <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
            </li>
            <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
            </li>
            <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
            </li>
        </ul>
        </p>
    </div>

</section>

<script>

    var map = L.map('map').setView([40.7593879,-111.8850502], 13);

    L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: "Map data &copy; <a href='http://openstreetmap.org'>OpenStreetMap</a> contributors, " +
                "<a href='http://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, " +
                "Imagery © <a href='http://mapbox.com'>Mapbox</a>",
        id: "poetsrock.map-55znsh8b"
    }).addTo(map);

</script>



<!--to call mapbox 'id=map' object-->
<!--<script>-->
    <!--var map = L.map('map').setView([40.7593879,-111.8850502], 13);-->

    <!--L.tileLayer('http://{s}.tiles.mapbox.com/v3/poetsrock.map-55znsh8b/{z}/{x}/{y}.png', {-->
        <!--attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',-->
        <!--maxZoom: 18-->
    <!--}).addTo(map);-->
<!--</script>-->